@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Kdam+Thmor+Pro&family=Playpen+Sans:wght@700&family=Roboto+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Doodle+Shadow&family=Rubik+Doodle+Triangles&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
    font-family: "Roboto";
}

ol, ul {
	list-style: none;
}

:root{
    --sidebar: #2575bc;
    --project-border: #BC6C25;
    --main-background: #deedf9;
    --text-color: rgb(255, 255, 255);
}

body{
    display: grid;
    grid-template-rows: 1fr 9fr;
    grid-template-columns: 1.2fr 4fr;
    height: 100vh;
    background-color: var(--main-background);
}

.header{
    background-color: white;
    grid-column: 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 2.5fr;
    padding: .75rem 2rem;
    line-height: 1.5rem;
    box-shadow: 0px 1px 5px grey;
    row-gap: 1rem;
}
.header>div:nth-child(1){
    display: flex;
    justify-content: space-between;
}
.profile{
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 4rem;
}
.profile-username{
    font-weight: 600;
}
.greeting{
    font-weight: 600;
    font-size: .75rem;
}
.username{
    font-weight: 600;
    font-size: 1.25rem;
}

input{
    flex: 2;
    border-radius: 20px;
    padding: .5rem;
    border: none;
    background-color: var(--main-background);
}
.search{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0px;
}

.header>div:nth-child(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 2;
    
}

.header>div:nth-child(2)>div{
    display: flex;
    align-items: center;
}

.create{
    display: flex;
    gap: 4rem;
}

.create div{
    box-sizing: border-box;
    background-color: var(--sidebar);
    width: 5rem;
    border-radius: 20px;
    padding: 3px 10px;
    text-align: center;
    font-weight: 700;
    font-size: .8rem;
    color: var(--text-color);
    
}

.sidebar{
    background-color: var(--sidebar);
    grid-row: 1 / 3;
    padding: 1rem; 
    
}
.sidebar ul{
    display: grid;
    font-size: 1.2rem;
    margin-bottom: 3rem;
    gap: 1.2rem;
}

.sidebar li, .sidebar p{
    color: var(--text-color);
    font-weight:500;
    display: flex;
    align-items: center;

}
.sidebar p{
    font-size: 1.5rem;
    margin-bottom: 3rem;
}



.content{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 4fr 1.3fr;
    padding: 1rem;
    padding-bottom: 3rem;
    gap: 1rem;
}

.content-label{
    font-weight: 500;
    font-size: 1.1rem;
    grid-row: 1;
    grid-column: 1 / -1;
}


.projects{
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

}

.projects>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 1px 1px 8px grey;
    border-left: 10px solid var(--project-border);
    font-size: .75rem;
    color: grey;
    line-height: 1rem;
    transition: 100ms ease-out;
}
.icon-container{
    display: flex;
    justify-content: end;
    gap: 1rem;
    border: none;
}


.projects div > p{
    color: black;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.trending{
    margin-top: 1rem;
}
.annoucements, .trending{
    display: grid;
    grid-template-rows: 1rem;
    gap:1rem;
}

.annoucements>div , .trending>div{
    background-color: white;
    display: grid;
    gap: 1rem;
    border-radius: 10px;
    padding: .75rem;
    line-height: .6rem;
    box-shadow: .5px.5px 6px grey;
}
.trending>div>div{
    gap:0rem;
    padding: 0rem .75rem;
    display: flex;
    align-items: center;
}

.annoucements>div>div:first-child, .annoucements>div>div:last-child {
    border:none;
    padding: 0;
}

.annoucements>div>div, .trending>div>div{
    color:rgb(130, 130, 130);
    font-size: .5rem;
    padding: .5rem 0rem;
    
}
.trending>div>div>div{
    font-size: .75rem;
}

.annoucements>div>div{
    border-top: .5px solid grey;
    border-bottom: .5px solid grey;
    font-weight: 500;
    
}

.annoucements>div>div>p:first-child, .trending>div>div>div>p:first-child{
    color:black;
    font-size: .75rem;
    padding: .75rem 0rem;
    
}
/* Icons */

.sidebar svg{
    fill: white;
    padding-right: 1rem;

}

.dash{
    width: 4rem;
}

li svg{
    margin-left: 1rem;
    width: 1.75rem;
}

.magnify, .profile svg{
    margin-right: 1rem;
    width: 1.75rem;
}

.icon-container svg{
    width: 1.75rem;
}
/* Profile pictures */
.mainpfp, .smallpfp1, .pfp2, .pfp3, .pfp4{
    background-size: cover;
    border-radius: 100px;
    margin-right: .75rem;
}

.mainpfp,.smallpfp1{
    background-image: url(img/pfp1.jpg);
}

.mainpfp{
    min-width: 60px;
    min-height: 60px;
}

.smallpfp1, .pfp2, .pfp3, .pfp4{
    min-width: 40px;
    min-height: 40px;
}

.pfp2{
    background-image: url(img/pfp2.jpg);
}

.pfp3{
    background-image: url(img/pfp3.jpg);
}

.pfp4{
    background-image: url(img/pfp4.jpg);
}

/* Hover, click, focus effects */
.clickable, .projects>div{
    cursor: pointer;
}
.clickable:active{
    position: relative;
    top: 1px;
}

.sidebar li:hover, .sidebar p:hover{
    text-decoration: underline;
}

.projects>div:hover{
    transform: scale(1.05);
   
}